:root {
	--main-background-color : #E3E3E3;
	--bleu-principal : #002C50;
	--bleu-secondaire : #066470;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}

body {
	background-color: var(--main-background-color);
}

h3 {
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h5 {
	font-size: 22px;
	margin-bottom: 20px;
}

p {
	letter-spacing: 1px;
}

#cursor {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	mix-blend-mode: difference;
	pointer-events: none;
	background-color: white;
	transition: opacity .25s;
}

.hidden {
	opacity: 0;
}

#language {
	display: flex;
	justify-content: flex-end;
	gap: 25px;
	padding-right: 10%;
	padding-top: 2%;
	margin-bottom: 20px
}

#language > a{
	color: var(--bleu-principal);
	transition: .25s;
	text-decoration: none;
	padding: 1%;
	cursor: none;
}

#top {
	display: flex;
	align-items: top;
	justify-content: space-between;
	padding: 0 10%;
	margin-bottom: 100px;
}

#name > h1 {
	font-size: 80px;
	color: var(--bleu-principal);
}

#name > p {
	font-size: 40px;
	color: var(--bleu-secondaire);
	width: 70%;
}

#profile-picture > img{
	width: 100%;
	border-radius: 8px;
}

#middle {
	display: flex;
	gap: 100px;
	margin-bottom: 50px;
}

#about {
	background-color: var(--bleu-principal);
	color: var(--main-background-color);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 2% 10%;
	font-size: 16px;
}

#abilities-div {
	padding: 2%;
	padding-right: 8%;
	color: var(--bleu-principal);
}

#abilities {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 20px;
	min-width: 500px;
}

#abilities div {
	display: flex;
	align-items: center;
	gap: 10px;
}

#abilities div:nth-child(4) {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 5;
}

#abilities p {
	color: var(--bleu-secondaire);
}

#abilities i {
	color: var(--bleu-principal);
	font-size: 20px;
}

#studies, #jobs-container {
	display: flex;
	justify-content: space-evenly;
	gap: 40px;
	padding: 0 10%;
}

#studies, #jobs {
	margin-bottom: 50px;
}

#experience > h3, #jobs > h3{
	padding: 0 10%;
	margin-bottom: 20px;
	color: var(--bleu-principal);
}

#experience hr, #jobs hr {
	margin: 15px 0
}

.skills:has(div:nth-child(3)) {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: space-between;
}
.skills {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 15px;
	width: 70%;
	margin: 0 auto;
}
.skills div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.school, .petit-boulot {
	background-color: var(--bleu-principal);
	color: var(--main-background-color);
	border-radius: 8px;
	width: 30%;
	padding: 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.school:nth-child(even), .petit-boulot:nth-child(odd) {
	background-color: var(--bleu-secondaire);
}

.school:nth-child(2) > .skills > div:last-child, .school:nth-child(3) > .skills > div:last-child {
	grid-column: 1 / -1;
	margin: 0 auto;
}

.school:nth-child(even) a:hover {
	color: var(--bleu-principal);
}

.school h5 a, .petit-boulot h5 {
	font-size: 22px;
}

.school a, .petit-boulot h5 {
	color: var(--main-background-color);
	transition: .25s;
}

.school a:hover {
	color: var(--bleu-secondaire);
}

#links { 
	display: flex;
	justify-content: center;
	gap: 20px;
	font-size: 25px;
	margin-bottom: 20px;
}

#links a {
	color: var(--bleu-principal);
	transition: .25s;
}

#links a:hover {
	transform: scale(1.25);
}

footer {
	text-align: center;
	color: var(--bleu-principal);
}

@media screen and (max-width: 1150px) {
	#abilities {
		min-width: 250px;
	}

	#studies, #jobs-container {
		flex-direction: column;
		align-items: center;
	}
	.school, .petit-boulot {
		width: 100%;
	}
	.skills {
		display: flex !important;
		flex-direction: row;
		justify-content: space-between;
	}
	.skills div {
		margin: 0 !important;
	}
	#name {
		width: 50%;
	}
	#name > p {
		width: 100%;
	}
}

@media screen and (max-width: 1000px) {
	#abilities {
		min-width: 250px;
		grid-template-columns: auto auto;
		justify-content: space-between;
	}
	#about {
		padding-right: 5%;
		max-width: 350px;
	}
	#abilities div {
		width: fit-content;
	}
	#abilities div:nth-child(4) {
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column: 1 / -1;
		margin: 0 auto;
	}
	#name {
		position: relative;
	}
	#name > p {
		width: 100%;
		position: absolute;
		bottom: -60px;
		font-size: 24px;
		white-space: nowrap;
	}
}

@media screen and (max-width: 700px) {
	#language {
		justify-content: space-evenly;
		gap: 0;
		padding-right: 0;
	}
	#name {
		width: 100%;
		text-align: center;
	}

	#name > h1 {
		font-size: 40px;
		width: 100%;
	}
	#name > p {
		white-space: normal;
	}
	#profile-picture {
		display: flex;
		justify-content: center;
	}
	#profile-picture > img {
		width: 250px;
	}
	#top {
		flex-direction: column-reverse;
		margin: 0 auto 70px;
	}
	#middle {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
	#middle {
		padding: 0 10%;
	}
	#about{
		width: 100%;
		border-radius: 8px;
		padding: 2%;
	}
	#abilities-div {
		width: 95%;
	}
	#abilities {
		min-width: auto;
		grid-template-columns: auto auto auto;
	}
	#abilities div:nth-child(4) {
		grid-row-start: 3;
		grid-row-end: 4;
	}
	.skills {
		margin: 0;
	}
}
@media screen and (max-width: 400px) {
	#profile-picture > img {
		width: 90%;
	}
	.skills {
		flex-direction: column;
		margin: 0 auto;
	}
}