:root {
	--main-background-color : #E3E3E3;
	--bleu-principal : #002C50;
	--bleu-secondaire : #066470;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}

body {
	background-color: var(--main-background-color);
}

h3 {
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h5 {
	font-size: 22px;
	margin-bottom: 20px;
}

p {
	letter-spacing: 1px;
}

#cursor {
	position: absolute;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	mix-blend-mode: difference;
	pointer-events: none;
	background-color: white;
	transition: opacity .25s;
}

.hidden {
	opacity: 0;
}

#top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2% 10%
}

#name > h1 {
	font-size: 80px;
	color: var(--bleu-principal);
}

#name > p {
	font-size: 40px;
	color: var(--bleu-secondaire);
}

#profile-picture > img{
	width: 100%;
	border-radius: 8px;
}

#language {
	display: flex;
	justify-content: center;
	gap: 50px;
	margin-bottom: 40px;
}

#language > a{
	color: var(--bleu-principal);
	transition: .25s;
	text-decoration: none;
	padding: 1%;
	cursor: none;
}

#middle {
	display: flex;
	gap: 100px;
	margin-bottom: 50px;
}

#about {
	background-color: var(--bleu-principal);
	color: var(--main-background-color);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 2% 10%;
	font-size: 16px;
}

#abilities-div {
	padding: 2%;
	padding-right: 8%;
	color: var(--bleu-principal);
}

#abilities {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 20px;
	min-width: 500px;
}

#abilities div {
	display: flex;
	align-items: center;
	gap: 10px;
}

#abilities div:nth-child(4) {
	grid-row-start: 1;
	grid-row-end: 3;
	grid-column-start: 4;
	grid-column-end: 5;
}

#abilities p {
	color: var(--bleu-secondaire);
}

#abilities i {
	color: var(--bleu-principal);
	font-size: 20px;
}

#studies, #jobs-container {
	display: flex;
	justify-content: space-evenly;
	gap: 40px;
	padding: 0 7%;
}

#studies, #jobs {
	margin-bottom: 50px;
}

#experience > h3, #jobs > h3{
	padding: 0 10%;
	margin-bottom: 20px;
	color: var(--bleu-principal);
}

.school, .petit-boulot {
	background-color: var(--bleu-principal);
	color: var(--main-background-color);
	border-radius: 8px;
	width: 30%;
	padding: 1%;
}

.school:nth-child(even), .petit-boulot:nth-child(odd) {
	background-color: var(--bleu-secondaire);
}

.school:nth-child(even) a:hover {
	color: var(--bleu-principal);
}

.school h5 a, .petit-boulot h5 {
	font-size: 22px;
}

.school a, .petit-boulot h5 {
	color: var(--main-background-color);
	transition: .25s;
}

.school a:hover {
	color: var(--bleu-secondaire);
}

#links { 
	display: flex;
	justify-content: center;
	gap: 20px;
	font-size: 22px;
	margin-bottom: 20px;
}

#links a {
	color: var(--bleu-principal);
	transition: .25s;
}

#links a:hover {
	transform: scale(1.25);
}

footer {
	text-align: center;
	color: var(--bleu-principal);
}